<h1>INGRESE LOS PRODUCTOS A LA BASE DE DATOS!</h1>

<div>
  <h1>INGRESE</h1>
  <form id="productosIngreso">
  <label>title</label>
  <input name="title">
  <label>price</label>
  <input name="price">
  <label>thumbnail</label>
  <input name="thumbnail">
  <input type="submit">
</form>


<div><button id="goProductos" class="btn btn-primary">VAYA  ver los PRODUCTOs</button></div>

<script src="/js/ingresoProductos.js"></script>