<h1>SE DESLOGUEO CON EXITO</h1>

<script>
    fetch("/api/sessions/logout",{
        method:"GET",
        headers:{
            "Content-Type":"application/json"
        }
    })
</script>

<div><button id="goLog" class="btn btn-primary">VAYA a Logearse</button></div>

<script src="/js/logout.js"></script>