<H3>USUARIO: {{userName}}rol:{{userRole}} </H3>

<h1 class="titulo" >VISTA DE PRODUCTOS</h1>

<script>
  let total = 0
</script>
<script>
  let contador = 0
</script>
<script>
  let carrito = []
</script>


<div><button><a id="buttonDesloguearse">DESLOGUEATE</a></button></div>

<div><button id="navLista" class="btn btn-primary">VAYA  INGRESAR UN PRODUCTO</button></div>


<table class="table table-dark table-sm">
  <thead >
    <tr >
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Foto</th>
      <th scope="col"></th>
    </tr>
  </thead>
  
    <tbody id="tabla" class="table-group-divider" >
            
    </tbody>
  
</table>


<div id="carrou">
  
</div>



<script>
  let tabla = document.getElementById("tabla")
  const contenido2 = fetch("/api/productos",{
        method:"GET",
        headers:{
            "Content-Type":"application/json"
        }
    }).then(result=>result.json()).then(json=>{
      console.log(json)
      json.forEach((el, index)=>{
      contador = contador + 1
      tabla.innerHTML += "<tr><td class=nombre>"+ JSON.stringify(el.title) +"</td><td class=price>"+ JSON.stringify(el.price) +"<td><img src="+JSON.stringify(el.thumbnail)+" class=imgLista alt=imagen del producto width=100 height=100></td><td><button id="+JSON.stringify(el._id)+ "class=botones >añadir al carrito</button></td></tr>";
      });
    })
</script>




<form id="carritoIngreso">
        <label>Productos</label>
        <input name="productos" type="hidden" >
        <input type="submit"  value="Terminar compra">
</form>
<button id="termino">vaciar carrito</button>

<div id="carritoPorFin">
  
</div>





{{!-- {{#each scripts}}
  <script src="{{script}}"></script>
{{/each}} --}}

<script src="/js/productos.js"></script>




<script defer src="/js/defer.js"></script>

<script>
  let termino = document.getElementById("termino")
  if (carrito == []){
    termino.style.display = 'none'
  }
  termino.addEventListener("click",evt=>{
    let carrito = []
    location.reload()
  })
</script>