<div>
    <h1>
        Registrate
    </h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="firstName">
        <label>Apellido</label>
        <input name="lastName">
        <label>Email</label>
        <input name="email">
        <label>Contraseña</label>
        <input type="password" name="password">
        <label>direccion</label>
        <input name="direccion">
        <label>edad</label>
        <input name="edad">
        <label>telefono</label>
        <input name="telefono">
        <input type="submit">
    </form>
</div>

<div><button id="goLog" class="btn btn-primary">VAYA a loguearse</button></div>

<script src="/js/register.js"></script>