#navForm{
    margin-left: 10px;
}
.titulo{
    text-align: center;
    margin-top: 20px;
}

#productosForm{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#productosForm label{
    margin-top: 15px;
}